n8n/n8n_workflow.json
{
  "name": "SRT Translator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "SRT Translator",
        "formDescription": "Translate SRT subtitle files to any language",
        "formFields": {
          "values": [
            {
              "fieldLabel": "srt_file",
              "fieldType": "file",
              "multipleFiles": false,
              "acceptFileTypes": ".srt",
              "requiredField": true
            },
            {
              "fieldLabel": "target_lang",
              "placeholder": "Spanish",
              "requiredField": true
            },
            {
              "fieldLabel": "source_lang",
              "placeholder": "English (default)"
            }
          ]
        },
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        208,
        1296
      ],
      "id": "6675de19-a0f3-4012-8980-f0a6b8a70f66",
      "name": "On form submission",
      "webhookId": "b7c12d8b-125f-4580-98f1-a39d266e9b51"
    },
    {
      "parameters": {
        "batchSize": "={{ $('CONFIG').item.json.BATCH_PARALLEL_COUNT }}",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1328,
        1056
      ],
      "id": "2e5bbd84-bb2b-499e-ad05-52c8d1f7471d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Code Box: Subtitle Array Batch Splitter\n * Purpose: Splits subtitle arrays into smaller batches of N items for processing\n * Input: Items with 'subtitles' array property\n * Output: Multiple items, each containing a batch of subtitles with metadata\n */\n\n\nconst BATCH_SIZE = $input.item.json.BATCH_SIZE || 50;\nconst outputItems = [];\n\nfor (const item of $input.all()) {\n  const subtitles = item.json.subtitles || [];\n  \n  // If no subtitles, create an empty item\n  if (subtitles.length === 0) {\n    outputItems.push({\n      json: {\n        ...item.json,\n        batch_subtitles: [],\n        batch_number: 0,\n        batch_size: 0,\n        total_subtitles: 0,\n        total_batches: 0\n      },\n      binary: item.binary\n    });\n    continue;\n  }\n  \n  // Calculate total number of batches\n  const totalBatches = Math.ceil(subtitles.length / BATCH_SIZE);\n  \n  // Create batches\n  for (let i = 0; i < subtitles.length; i += BATCH_SIZE) {\n    const batchNumber = Math.floor(i / BATCH_SIZE) + 1;\n    const batch = subtitles.slice(i, i + BATCH_SIZE);\n    \n    // Create new item for each batch\n    const batchItem = {\n      json: {\n        ...item.json, // Copy all original fields\n        batch_subtitles: batch,\n        batch_number: batchNumber,\n        batch_size: batch.length,\n        total_subtitles: subtitles.length,\n        total_batches: totalBatches,\n        batch_start_index: i + 1,\n        batch_end_index: Math.min(i + BATCH_SIZE, subtitles.length)\n      },\n      binary: item.binary\n    };\n    \n    outputItems.push(batchItem);\n  }\n}\nreturn outputItems;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        1056
      ],
      "id": "529089e6-83b0-40c1-8aca-653ce5a6dc0e",
      "name": "Split in batches"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('Loop Over Items').item.json.batch_subtitles }}",
        "hasOutputParser": true,
        "needsFallback": true,
        "messages": {
          "messageValues": [
            {
              "message": "=# Professional Subtitle Translation System\n\n## Role and Objective\nYou are an expert subtitle translator specializing in audiovisual content. Your primary task is to translate subtitle entries from the source language '{{ $json.source_lang || 'english' }}' to the target '{{ $json.target_lang }}' while maintaining narrative consistency and resolving linguistic ambiguities through contextual analysis.\n\n## Input Format\nYou will receive a JSON array containing subtitle entries with:\n- `index`: Sequential identifier for each subtitle line\n- `text`: The subtitle text to be translated\n\n## Core Translation Instructions\n\n### 1. Contextual Translation Strategy\n- **Use previous lines as context**: Before translating each line, analyze the preceding subtitle entries to understand:\n  - Character gender and relationships\n  - Narrative context and emotional tone\n  - Technical terminology or proper nouns\n  - Conversational flow and speaker identity\n- **Resolve ambiguities**: When the source language contains ambiguous elements (gender, formality level, implied subjects), use the established context from previous lines to make consistent choices\n\n### 2. Language Detection and Handling\n- If a line is already in {{ $json.target_lang }}, return it unchanged\n  - If a line is not in the defined source language ({{ $json.source_lang || 'english' }}), but you can infer the language, translate it to {{ $json.target_lang }}.\n- If text is empty, whitespace-only, or contains only symbols/numbers, preserve as-is\n\n### 3. Translation Quality Standards\n- **Preserve**: Tone, meaning, style, punctuation, and capitalization\n- **Maintain**: Subtitle timing constraints (keep similar length when possible)\n- **Ensure**: Natural flow in the target language\n- **Consider**: Cultural adaptation where necessary for comprehension\n\n## Output Requirements\n\n### Format\nReturn ONLY a valid JSON object with the output array with this exact structure:\n```json\n{\n  \"output\": [\n    {\n      \"index\": int,\n      \"text\": \"string\"\n    },\n    ...\n  ]\n}\n```\n\n### Constraints\n- Do NOT add, remove, or reorder entries\n- Do NOT include explanations, comments, or text outside the JSON\n- Do NOT ask for clarification or additional context\n- Maintain the exact same number of entries as the input\n\n## Examples\n\n### Input:\n```json\n{\n  \"output\": [\n    {\"index\": 47, \"text\": \"Maria walked into the room.\"},\n    {\"index\": 48, \"text\": \"She looked tired.\"},\n    {\"index\": 49, \"text\": \"Good morning, doctor.\"}\n  ]\n}\n```\n\n### Output (English to Spanish):\n```json\n{\n  \"output\": [\n    {\"index\": 47, \"text\": \"María entró en la habitación.\"},\n    {\"index\": 48, \"text\": \"Se veía cansada.\"},\n    {\"index\": 49, \"text\": \"Buenos días, doctora.\"}\n  ]\n}\n```\n\n*Note: In line 49, \"doctora\" (feminine) is used because the context from previous lines established that Maria is the doctor being addressed.*\n\n## Processing Instructions\n1. Read all entries in the batch first\n2. Analyze the contextual flow and character information\n3. Translate each line considering the established context\n4. Ensure consistency across all translations in the batch\n5. Output the same items count as the input\n\nBegin translation:"
            }
          ]
        },
        "batching": {
          "batchSize": 5
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        1520,
        1168
      ],
      "id": "fa324ca2-d14f-4e2d-953e-fb34f213235c",
      "name": "Translate",
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Code Box: Translation Batch Merger and SRT Data Combiner\n * Purpose: Merges all translation batches back together and combines with original SRT parse data\n * Input: Items with translation 'output' arrays and access to 'Parse SRT' node data\n * Output: Single item with all translations sorted by index and combined with SRT metadata\n */\n\nconst allTranslations = [];\n// Collect all translations from all items\nfor (const item of $input.all()) {\n  const output = item.json.output || [];\n  \n  for (const translation of output) {\n    allTranslations.push(translation);\n  }\n}\n// Sort by index\nallTranslations.sort((a, b) => a.index - b.index);\n// Get data from Parse SRT node\nconst parseSRTData = $('Parse SRT').all();\n// Create output item combining both data sets\nconst outputItem = {\n  json: {\n    // Translation data\n    subtitles_translated: allTranslations,\n    total_translations: allTranslations.length,\n    \n    // Specific Parse SRT data\n    parse_srt_data: parseSRTData.map(item => ({\n      srt_file: item.json.srt_file,\n      filename: item.json.filename,\n      submittedAt: item.json.submittedAt\n    })),\n    \n    // If there's only one item in Parse SRT, also include its fields directly\n    ...(parseSRTData.length === 1 ? parseSRTData[0].json : {})\n  }\n};\nreturn [outputItem];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        1008
      ],
      "id": "5cd06f32-11cd-49a2-98dd-20afec9f6b26",
      "name": "Join batches"
    },
    {
      "parameters": {
        "content": "## Translate SRT\nTranslate the SRT lines in batches",
        "height": 608,
        "width": 1136,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        1056,
        944
      ],
      "typeVersion": 1,
      "id": "d5af9b78-bd35-4059-a196-4741fd1dd38a",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Parse SRT\nReturns SRT contents as a JSON array",
        "height": 240,
        "width": 384,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        608,
        912
      ],
      "typeVersion": 1,
      "id": "474703af-3916-40af-a612-b8cdd95cfa8f",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Code Box: SRT Subtitle Parser to JSON\n * Purpose: Parses SRT subtitle content and converts it to structured JSON format\n * Input: Items with 'file_content' property containing SRT formatted text\n * Output: Items with parsed subtitles array and count added to JSON\n */\nfor (const item of $input.all()) {\n  // Get SRT content and clean it\n  let srtContent = item.json.file_content || '';\n  \n  // Remove carriage returns and normalize line breaks\n  srtContent = srtContent.replaceAll(\"\\r\", '').replaceAll(\"\\n\", \"\\n\");\n  \n  const subtitlesList = [];\n  \n  if (srtContent) {\n    // Split into blocks by double line break\n    const blocks = srtContent.split('\\n\\n');\n    \n    for (const block of blocks) {\n      if (!block.trim()) continue;\n      \n      // Split into lines and clean\n      const lines = block.trim().split('\\n').map(line => line.trim()).filter(line => line);\n      \n      // Verify we have at least 3 lines (index, timestamp, text)\n      if (lines.length < 3) continue;\n      \n      // Extract index\n      const index = parseInt(lines[0]);\n      if (isNaN(index)) continue;\n      \n      // Extract timestamps\n      const timestampLine = lines[1];\n      if (!timestampLine.includes('-->')) continue;\n      \n      const timeParts = timestampLine.split('-->');\n      if (timeParts.length !== 2) continue;\n      \n      const startTime = timeParts[0].trim();\n      const endTime = timeParts[1].trim();\n      \n      // Extract text (can be multiple lines)\n      const text = lines.slice(2).join(' ');\n      \n      // Create subtitle object\n      const subtitle = {\n        index: index,\n        start: startTime,\n        end: endTime,\n        text: text\n      };\n      \n      subtitlesList.push(subtitle);\n    }\n  }\n  \n  // Add parsed data to item's JSON\n  item.json.subtitles = subtitlesList;\n  item.json.subtitles_count = subtitlesList.length;\n}\n\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        864,
        992
      ],
      "id": "ab21a1bd-caa9-439a-be56-33b4ff7bac7e",
      "name": "Parse SRT"
    },
    {
      "parameters": {
        "content": "## Generate SRT\nRetrieve the translated lines and creates a new SRT file",
        "height": 240,
        "width": 400,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2240,
        880
      ],
      "typeVersion": 1,
      "id": "0171c8bc-0212-4140-b013-b8c699ba1013",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Code Box: Original and Translated Subtitle Merger\n * Purpose: Merges original subtitles with translations based on index, preserving timing data\n * Input: Items with nested data containing 'subtitles' and 'subtitles_translated' arrays\n * Output: Items with merged subtitles using original timing and translated text\n */\n\nconst inputData = $input.all();\nconst results = [];\nfor (const item of inputData) {\n  const data = item.json.data?.[0] || item.json; // Fallback to root if nested structure missing\n  \n  // Extract subtitle arrays\n  const originalSubtitles = data.subtitles || [];\n  const translatedSubtitles = data.subtitles_translated || [];\n  \n  // Create translation map by index for fast lookup\n  const translationsMap = {};\n  translatedSubtitles.forEach(translation => {\n    translationsMap[translation.index] = translation.text;\n  });\n  \n  // Merge subtitles: use original timing + translated text\n  const mergedSubtitles = originalSubtitles.map(subtitle => {\n    const translatedText = translationsMap[subtitle.index];\n    \n    return {\n      index: subtitle.index,\n      start: subtitle.start,\n      end: subtitle.end,\n      text: translatedText || subtitle.text // Use translation if exists, otherwise original\n    };\n  });\n  \n  // Create the result\n  results.push({\n    json: {\n      merged_subtitles: mergedSubtitles,\n      target_lang: data.target_lang,\n      srt_file: data.srt_file,\n      total_subtitles: mergedSubtitles.length\n    }\n  });\n}\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2288,
        960
      ],
      "id": "0eee1a1b-9b9f-4382-a9d0-0d9ea8ec8bf5",
      "name": "Merge Original and Translated Subtitles"
    },
    {
      "parameters": {
        "jsCode": "/**\n * N8N Code Box: SRT File Generator from Merged Subtitles\n * Purpose: Converts merged subtitle data back to SRT format and creates binary file\n * Input: Items with 'merged_subtitles' array containing subtitle objects\n * Output: Items with SRT content as text and binary file, plus metadata (lines, size)\n */\n\n// Generate SRT file from merged subtitles\nfor (const item of $input.all()) {\n  const mergedSubtitles = item.json.merged_subtitles || [];\n  \n  if (mergedSubtitles.length === 0) {\n    item.json.srt_content = '';\n    item.json.srt_lines = 0;\n    continue;\n  }\n  \n  // Sort by index to ensure correct order\n  const sortedSubtitles = mergedSubtitles.sort((a, b) => a.index - b.index);\n  \n  // Generate SRT content\n  const srtBlocks = [];\n  \n  for (const subtitle of sortedSubtitles) {\n    // SRT format:\n    // Subtitle number\n    // start_timestamp --> end_timestamp\n    // Subtitle text\n    // Empty line\n    \n    const srtBlock = `${subtitle.index}\n${subtitle.start} --> ${subtitle.end}\n${subtitle.text}`;\n    \n    srtBlocks.push(srtBlock);\n  }\n  \n  // Join blocks with double line break\n  const srtContent = srtBlocks.join('\\n\\n');\n  \n  // Add SRT content to item\n  item.json.srt_content = srtContent;\n  item.json.srt_lines = srtBlocks.length;\n  item.json.srt_size = srtContent.length;\n  \n  // Create binary SRT file\n  const originalFileName = item.json.srt_file.file_name || 'subtitles.srt';\n  const targetLang = item.json.target_lang || 'translated';\n  \n  // Generate new filename: originalname.TARGET_LANG.srt\n  const fileNameWithoutExt = originalFileName.replace(/\\.srt$/i, '');\n  const newFileName = `${fileNameWithoutExt}.${targetLang}.srt`;\n  \n  // Convert to Base64 for binary storage\n  const buffer = Buffer.from(srtContent, 'utf-8');\n  const base64Content = buffer.toString('base64');\n  \n  // Add as binary file\n  item.binary = item.binary || {};\n  item.binary['translated_srt'] = {\n    data: base64Content,\n    fileName: newFileName,\n    mimeType: 'text/plain'\n  };\n}\nreturn $input.all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2512,
        960
      ],
      "id": "ece3040f-e002-428e-9552-c6e7bb98458f",
      "name": "Generate SRT file"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "srt_file",
              "type": "object"
            },
            {
              "name": "target_lang"
            },
            {
              "name": "source_lang"
            },
            {
              "name": "binary_file_name"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        208,
        992
      ],
      "id": "443b1c29-7756-4242-87cf-954f69f4135d",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B%20$workflow.id%20%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "srt_file": "={{ $json.srt_file }}",
            "target_lang": "={{ $json.target_lang }}",
            "source_lang": "={{ $json.source_lang }}",
            "binary_file_name": "srt_file"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "srt_file",
              "displayName": "srt_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "target_lang",
              "displayName": "target_lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source_lang",
              "displayName": "source_lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "binary_file_name",
              "displayName": "binary_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        432,
        1296
      ],
      "id": "ab6d00df-b98c-43e5-b87b-0bc55f9c339d",
      "name": "Execute SRT Translate",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "completion",
        "respondWith": "returnBinary",
        "completionTitle": "Translation Complete ✅",
        "completionMessage": "Your subtitle file has been successfully translated and is ready for download.",
        "inputDataFieldName": "translated_srt",
        "limitWaitTime": true,
        "resumeAmount": 5,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        656,
        1200
      ],
      "id": "01f85c7e-9573-4130-96bc-9c19bce7f6f4",
      "name": "Form OK",
      "webhookId": "e0d24235-f334-4ace-bbfd-02c60dbca53e"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "Translation Failed ❌",
        "completionMessage": "There was an error processing your subtitle file. Please try again",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 1,
      "position": [
        656,
        1392
      ],
      "id": "616eee9a-fd7a-4e24-940d-b6197798bae2",
      "name": "Form ERROR",
      "webhookId": "4ec6cedc-b0e8-4cd7-9625-aafb357c3494"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4ff759d9-1b87-4861-9dbd-e9dabd0358eb",
              "leftValue": "={{ $json.total_subtitles }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2288,
        1280
      ],
      "id": "064bddf5-c266-4068-bfb7-9a6d71d0004c",
      "name": "Translation OK?"
    },
    {
      "parameters": {
        "content": "### Return result\nOK - with file\nERROR - if something failed\n",
        "height": 336,
        "width": 384,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        2256,
        1168
      ],
      "typeVersion": 1,
      "id": "502995c7-6995-4c83-989c-7f81f26c6b59",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {
          "download": true,
          "userIds": "1613101109"
        }
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        208,
        1744
      ],
      "id": "b752b0ae-e787-45f0-97df-f0ca36456e0f",
      "name": "Telegram Trigger",
      "webhookId": "e179d651-76f9-46c7-8eb9-8a0f52d9b76a",
      "credentials": {
        "telegramApi": {
          "id": "fqTSuko8X6YFgAqS",
          "name": "Telegram - SRT Translator BOT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=Oops 😅 Something went wrong.\nPlease try again with your .SRT file and target language.\n",
        "additionalFields": {
          "appendAttribution": false,
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        1968
      ],
      "id": "cc214540-a274-421c-a820-1665b7f5d7c1",
      "name": "Reply with error",
      "webhookId": "7f067c04-482d-4d6b-af45-1ca882a24565",
      "credentials": {
        "telegramApi": {
          "id": "fqTSuko8X6YFgAqS",
          "name": "Telegram - SRT Translator BOT"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $json.message.chat.id }}",
        "text": "=Hi 👋 Please send me:  \n- Your .SRT file  \n- The target language (e.g. English, French...) in the file description ",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "reply_to_message_id": "={{ $json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        720,
        1584
      ],
      "id": "a9f14089-31a0-426d-8ac5-e9d66458bd40",
      "name": "Reply instructions",
      "webhookId": "7f067c04-482d-4d6b-af45-1ca882a24565",
      "credentials": {
        "telegramApi": {
          "id": "fqTSuko8X6YFgAqS",
          "name": "Telegram - SRT Translator BOT"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "notExists",
                      "singleValue": true
                    },
                    "id": "f207c61b-d43f-41ae-8ff4-756809a9f96f"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "NO File"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d19f0484-1c91-4d19-84b1-c79bc21c29bd",
                    "leftValue": "={{ $json.message.document.file_name.toLowerCase() }}",
                    "rightValue": "srt",
                    "operator": {
                      "type": "string",
                      "operation": "notEndsWith"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "File not a SRT"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ee6b6cf3-5e43-4b83-9b06-e3e858e840bf",
                    "leftValue": "={{ $json.message.caption }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "empty",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "No target lang"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        432,
        1712
      ],
      "id": "510ec8de-e5aa-473a-9de6-90add27a7114",
      "name": "Check Message File"
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "binaryData": true,
        "binaryPropertyName": "translated_srt",
        "additionalFields": {
          "caption": "=File translated to {{ $json.target_lang }} ✅",
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1456,
        1776
      ],
      "id": "00257223-b4e0-4c01-a582-8f7e9ca5ae3e",
      "name": "Send Translated SRT",
      "webhookId": "f34c0480-bf31-4980-93ad-ea75cd911399",
      "credentials": {
        "telegramApi": {
          "id": "fqTSuko8X6YFgAqS",
          "name": "Telegram - SRT Translator BOT"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.message.caption }}",
        "attributes": {
          "attributes": [
            {
              "name": "target_lang",
              "description": "Target Language",
              "required": true
            },
            {
              "name": "source_lang",
              "description": "Source Language"
            }
          ]
        },
        "options": {
          "systemPromptTemplate": "You will receive a caption text from a Telegram file.  \nYour task is to extract:  \n- target_lang → the language the user wants to translate the subtitles into (mandatory).  \n- source_lang → the language of the original subtitles, if explicitly mentioned (optional). If not found, leave it empty.  \n\nThe caption may be written in different ways, for example:  \n- \"ES\", \"Spanish\", \"traduce a español\", \"translate to ES\" → target_lang = Spanish  \n- \"from English to Spanish\", \"traduce de inglés a español\" → source_lang = English, target_lang = Spanish  \n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.informationExtractor",
      "typeVersion": 1.2,
      "position": [
        656,
        1744
      ],
      "id": "447a4296-6dab-46ea-ad1a-904327fe116a",
      "name": "Extract Source & Target Lang",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1008,
        1872
      ],
      "id": "d3165d7b-11dd-491f-8a7e-2836df14773e",
      "name": "Merge"
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "=File received. Translating to '{{ $json.output.target_lang }}'... ⏳",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true,
          "reply_to_message_id": "={{ $('Telegram Trigger').item.json.message.message_id }}"
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1008,
        1680
      ],
      "id": "075ae517-0937-495c-8df5-a98c950531c7",
      "name": "Send 'In Progress' message",
      "webhookId": "7f067c04-482d-4d6b-af45-1ca882a24565",
      "credentials": {
        "telegramApi": {
          "id": "fqTSuko8X6YFgAqS",
          "name": "Telegram - SRT Translator BOT"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "30fe981c-717a-450f-952a-282239d105bc",
              "leftValue": "={{ $json.output.length }}",
              "rightValue": "={{ $('Loop Over Items').item.json.batch_subtitles.length }}",
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "995da35b-ceb4-4c5e-9354-0f94b6b69d9f",
              "leftValue": "={{ JSON.stringify($json.output.map(item => item.index)) === JSON.stringify($('Loop Over Items').item.json.batch_subtitles.map(item => item.index)) }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1872,
        1168
      ],
      "id": "7889b8e3-0a79-418b-abe0-d7c1fff31169",
      "name": "Translation kept index?"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"json_schema\": {\n    \"name\": \"translation_batch\",\n    \"schema\": {\n      \"type\": \"object\",\n      \"properties\": {\n        \"output\": {\n          \"type\": \"array\",\n          \"items\": {\n            \"type\": \"object\",\n            \"properties\": {\n              \"index\": {\n                \"type\": \"integer\"\n              },\n              \"text\": {\n                \"type\": \"string\"\n              }\n            },\n            \"required\": [\n              \"index\",\n              \"text\"\n            ]\n          }\n        }\n      },\n      \"required\": [\n        \"output\"\n      ]\n    }\n  }\n}",
        "autoFix": true,
        "customizeRetryPrompt": true,
        "prompt": "# System Prompt: JSON Response Repair Agent\n\nYou are a specialized agent whose sole purpose is to repair malformed LLM responses and convert them into a valid JSON format.\n\nInstructions:\n--------------\n{instructions}\n--------------\nCompletion:\n--------------\n{completion}\n--------------\nAbove, the Completion did not satisfy the constraints given in the Instructions.\nError:\n--------------\n{error}\n--------------\nPlease try again. Please only respond with an answer that satisfies the constraints laid out in the Instructions:\n\n## Your Task\nTransform the malformed completion into the following exact JSON structure:\n\n### Required Output Format:\n```json\n{{\n  \"output\": [\n    {{\"index\": 47, \"text\": \"María entró en la habitación.\"}},\n    {{\"index\": 48, \"text\": \"Se veía cansada.\"}},\n    {{\"index\": 49, \"text\": \"Buenos días, doctora.\"}}\n  ]\n}}\n```\n\n## Rules:\n1. **Always return valid JSON** with the exact structure shown above\n2. **Extract all index-text pairs** from the malformed response, even if they're embedded in markdown, prose, or other formatting\n3. **Preserve the original text content** exactly as it appears (don't translate, modify, or \"fix\" the text itself)\n4. **Maintain index order** - sort items by index in ascending order\n5. **If the original response was empty or contained no valid data**, return:\n```json\n{{\n  \"output\": []\n}}\n```\n6. **Remove any markdown formatting** (```json, backticks, code blocks, etc.)\n7. **Handle edge cases**:\n   - Missing indexes: skip those items or try to infer from context\n   - Duplicate indexes: keep the first occurrence\n   - Non-integer indexes: attempt to convert to integer, or skip if impossible\n\n## Examples of Input You Might Receive:\n\n**Example 1 - Markdown wrapped:**\n```\nHere are your translations:\n```json\n{{\"output\": [{{\"index\": 1, \"text\": \"Hola\"}}]}}\n```\n```\n\n**Example 2 - Prose format:**\n```\nSure! Here are the results:\n- Index 1: \"Hola mundo\"\n- Index 2: \"Adiós\"\n```\n\n**Example 3 - Partial JSON:**\n```\n{{\"output\": [{{\"index\": 5, \"text\": \"Test\"\n```\n\n**Example 4 - Empty response:**\n```\nI apologize, but I couldn't process that request.\n```\n\n## Your Response:\nReturn ONLY the valid JSON object. No explanations, no markdown formatting, no additional text.\n"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1664,
        1392
      ],
      "id": "65e1090f-f701-4828-a219-8710c395e857",
      "name": "SRT indexed array format",
      "notes": "Sample:\n\n[\n  {\n    \"index\": 1,\n    \"text\": \"Este es un archivo SRT de ejemplo.\"\n  },\n  {\n    \"index\": 2,\n    \"text\": \"Este es un archivo SRT de ejemplo.\"\n  }\n]"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2064,
        960
      ],
      "id": "1cbe29eb-3f4c-4928-927b-83284fa2a022",
      "name": "Loop output"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        2512,
        1184
      ],
      "id": "837609cc-f13f-4f8d-a98e-858e99249542",
      "name": "Return OK"
    },
    {
      "parameters": {
        "errorMessage": " There was an error processing the subtitle file"
      },
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [
        2512,
        1376
      ],
      "id": "d5751e41-c45a-439f-b09a-ccaec0354625",
      "name": "Return ERROR"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "={{ $workflow.id }}",
          "mode": "id",
          "cachedResultUrl": "/workflow/=%7B%7B%20$workflow.id%20%7D%7D"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "srt_file": "={{ $json.message.document }}",
            "target_lang": "={{ $json.output.target_lang }}",
            "binary_file_name": "data",
            "source_lang": "={{ $json.output.source_lang || 'auto-infer the source language' }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "srt_file",
              "displayName": "srt_file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "object",
              "removed": false
            },
            {
              "id": "target_lang",
              "displayName": "target_lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "source_lang",
              "displayName": "source_lang",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            },
            {
              "id": "binary_file_name",
              "displayName": "binary_file_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        1232,
        1872
      ],
      "id": "3196e6d5-7131-42f0-95b8-49cbe6789dd0",
      "name": "Execute SRT Translate workflow",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "10c0668b-1098-479f-806c-dcca01dc9f54",
              "name": "BATCH_SIZE",
              "value": 100,
              "type": "number"
            },
            {
              "id": "6b1ce68c-b08d-4e46-97eb-314c2be5ab39",
              "name": "BATCH_PARALLEL_COUNT",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        416,
        992
      ],
      "id": "1d2d451a-eb19-4ace-8aed-3c7d416cbf27",
      "name": "CONFIG"
    },
    {
      "parameters": {
        "operation": "text",
        "binaryPropertyName": "={{ $json.binary_file_name }}",
        "destinationKey": "file_content",
        "options": {
          "encoding": "utf8",
          "stripBOM": true,
          "keepSource": "json"
        }
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        640,
        992
      ],
      "id": "d1142800-062d-4d3d-a3d7-fba91944a944",
      "name": "Read file contents"
    },
    {
      "parameters": {
        "model": "openai/gpt-4.1-nano",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1520,
        1424
      ],
      "id": "658ffd02-5a34-42fc-a392-932cb0814341",
      "name": "OpenRouter - GPT 4.1 Nano",
      "credentials": {
        "openRouterApi": {
          "id": "WKMEjAgrYCTBBx2B",
          "name": "OpenRouter - n8n"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1392,
        1392
      ],
      "id": "59e0fc9b-ff19-4ef0-88b9-951ee255dcd6",
      "name": "OpenRouter - Gemini 2.5 Flash Lite",
      "credentials": {
        "openRouterApi": {
          "id": "WKMEjAgrYCTBBx2B",
          "name": "OpenRouter - n8n"
        }
      }
    },
    {
      "parameters": {
        "model": "google/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        656,
        1952
      ],
      "id": "8f0f369e-b74b-4a21-a0e2-1990b91a3e91",
      "name": "OpenRouter - Gemini 2.5 Flash Lite (target extractor)",
      "credentials": {
        "openRouterApi": {
          "id": "WKMEjAgrYCTBBx2B",
          "name": "OpenRouter - n8n"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Execute SRT Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Join batches",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split in batches": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Translate": {
      "main": [
        [
          {
            "node": "Translation kept index?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Join batches": {
      "main": [
        [
          {
            "node": "Loop output",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Parse SRT": {
      "main": [
        [
          {
            "node": "Split in batches",
            "type": "main",
            "index": 0
          },
          {
            "node": "Loop output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Original and Translated Subtitles": {
      "main": [
        [
          {
            "node": "Generate SRT file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SRT file": {
      "main": [
        [
          {
            "node": "Translation OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "CONFIG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SRT Translate": {
      "main": [
        [
          {
            "node": "Form OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Form ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form OK": {
      "main": [
        []
      ]
    },
    "Form ERROR": {
      "main": [
        []
      ]
    },
    "Translation OK?": {
      "main": [
        [
          {
            "node": "Return OK",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return ERROR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Check Message File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Message File": {
      "main": [
        [
          {
            "node": "Reply instructions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply instructions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply instructions",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Source & Target Lang",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Extract Source & Target Lang": {
      "main": [
        [
          {
            "node": "Send 'In Progress' message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Execute SRT Translate workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send 'In Progress' message": {
      "main": [
        []
      ]
    },
    "Reply with error": {
      "main": [
        []
      ]
    },
    "Translation kept index?": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Translate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SRT indexed array format": {
      "ai_outputParser": [
        [
          {
            "node": "Translate",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Loop output": {
      "main": [
        [
          {
            "node": "Merge Original and Translated Subtitles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute SRT Translate workflow": {
      "main": [
        [
          {
            "node": "Send Translated SRT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply with error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CONFIG": {
      "main": [
        [
          {
            "node": "Read file contents",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read file contents": {
      "main": [
        [
          {
            "node": "Parse SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - GPT 4.1 Nano": {
      "ai_languageModel": [
        [
          {
            "node": "Translate",
            "type": "ai_languageModel",
            "index": 1
          },
          {
            "node": "SRT indexed array format",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Gemini 2.5 Flash Lite": {
      "ai_languageModel": [
        [
          {
            "node": "Translate",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter - Gemini 2.5 Flash Lite (target extractor)": {
      "ai_languageModel": [
        [
          {
            "node": "Extract Source & Target Lang",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "604c688f-ad12-4807-a30b-7ceb765c5055",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ad60bc00ef372218dfa03c55129b4359826a8a6d6771e92e9468ffc9009f87f8"
  },
  "id": "TSC308ZSYRosMX2d",
  "tags": [
    {
      "updatedAt": "2025-09-02T17:12:03.345Z",
      "createdAt": "2025-09-02T17:12:03.345Z",
      "id": "9hUMVQ6XaPHnVs48",
      "name": "GIT"
    },
    {
      "updatedAt": "2025-08-20T20:17:23.374Z",
      "createdAt": "2025-08-15T08:45:14.160Z",
      "id": "G0TlfAREHa2NX1Lk",
      "name": "prod"
    },
    {
      "updatedAt": "2025-08-20T18:31:54.708Z",
      "createdAt": "2025-08-20T18:31:54.708Z",
      "id": "JwFFpwYBrrDDkNo0",
      "name": "form"
    },
    {
      "updatedAt": "2025-08-20T18:31:53.488Z",
      "createdAt": "2025-08-20T18:31:53.488Z",
      "id": "MYQWvz4yQohlX8Dp",
      "name": "telegram"
    },
    {
      "updatedAt": "2025-08-15T08:45:03.140Z",
      "createdAt": "2025-08-15T08:45:03.140Z",
      "id": "iiq7yealSFabpVUg",
      "name": "ai"
    }
  ]
}